
.navbar {
    background-color: pink;
    width: 100%;
}

.navbar ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin-right: 70px;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 100%;
    margin: auto;
}

.content {
    width: 100%;
    background-color: greenyellow;
    overflow: auto;
    display: flex;
}

#pancakemain {
    float: left;
}

.nutritiontable {
    display: inline;
}

.nutritiontable, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.nutritiontable th {
    padding: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightgrey;
    color: black;
}

.instructions {
    clear: both;
    background-color: yellow;
}

#ingrdients {
    width: 35%;
    float: left;
}

#directions {
    display: inline-block;
    background-color: blue;
    width: 40%;
}

#recipeimages {
    clear: both;
}
.lessons {
    background-color: orange;
}

#aboutme {
    background-color: red;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
