
.navbar {
    margin: 0 0 0 0;
    font-size: 100%;
    width: 100%;
    background-color: lightgray;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.menu li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

body {
    font-family: Segoe UI;
    margin: auto;
    max-width: 100%;
}

h1 {
    font-size: 30px;
}

#recipe-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nutritiontable {
    width: 60%;
}

.nutritiontable td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.nutritiontable tr: :nth-child(even)
{background-color: #f2f2f2;}

.nutritiontable th {
    padding: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightgray;
    color: black;
}

.social-media {
    width: 50px;
    height: 50px;
}

